body {
    background-color: floralwhite;
    margin: 0;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

header ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: left;
    border-right: 1px solid #bbb;
}

header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    border: 1px solid black;
    padding: 50px;
}

/** .ulnavbar {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.linavbar {
    float: left;
    border-right: 1px solid #bbb;
}

.linknavbar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
    <ul class="ulnavbar">
<li class="linavbar"><a class="active" href="index.html">Home</a></li>
<li class="linavbar"><a class="linknavbar" href="about.html">About</a></li>
<li class="linavbar"><a class="linknavbar" href="project.html">Project</a></li>
<li class="linavbar"><a class="linknavbar" href="skills.html">Skills</a></li>
    */
